<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="currentPage='usuarios'">

<head>
  <meta charset="utf-8" />
  <title>SisCACs</title>
</head>

<body>

<div layout:fragment="content">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Home</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    <div class="form-horizontal">
        <a href="/usuarios/view" class="btn btn-primary btn-icon-split btn-lg">
            <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
            </span>
            <span class="text">Dados pessoais</span>
        </a>

        <div class="my-2"></div>

        <a href="/usuarios/password" class="btn btn-primary btn-icon-split btn-lg">
            <span class="icon text-white-50">
                <i class="fas fa-flag"></i>
            </span>
            <span class="text">Alterar senha</span>
        </a>
    </div>

  </div>

</div>

</body>

</html>