<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="currentPage='usuarios'">

<head>
  <meta charset="utf-8" />
  <title>SisCACs</title>
</head>

<body>

<div layout:fragment="content">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Usuario view</h1>
  </div>

  <!-- Content Row -->
  <div class="row">


    <div class="form-horizontal">

      <div class="form-group row">
        <label for="login" class="form-label"><strong>Login</strong></label>
        <input type="text" class="form-control" disabled="disabled" id="login" th:field="${usuario.login}">
      </div>

      <div class="form-group row">
        <label for="nome" class="form-label"><strong>Nome</strong></label>
        <input type="text" class="form-control" disabled="disabled" id="nome" th:field="${usuario.nome}">
      </div>

      <div class="form-group row">
        <label for="cacId" class="form-label"><strong>Nome</strong></label>
        <input type="text" class="form-control" disabled="disabled" id="cacId" th:field="${usuario.cacId}">
      </div>

      <a th:href="@{'/usuarios/edit'}" class="btn btn-primary btn-user btn-block">
        Editar
      </a>

    </div>

  </div>

</div>

</body>

</html>