<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="currentPage='usuarios'">

<head>
  <meta charset="utf-8" />
  <title>SisCACs</title>
</head>

<body>

<div layout:fragment="content">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Usuarios home</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    <div class="table-responsive" >

      <table class="table table-bordered">

        <thead class="table-primary" >
        <tr>
          <th scope="col">ID</th>
          <th scope="col">LOGIN</th>
          <th scope="col">NOME</th>
          <th scope="col">CAC ID</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="usuario : ${usuarios}">
          <td scope="row" th:text="${usuario.id}"></td>
          <td scope="row" th:text="${usuario.login}"></td>
          <td scope="row" th:text="${usuario.nome}"></td>
          <td scope="row" th:text="${usuario.cacId}"></td>
          <td style="text-align: center;"><a th:href="@{/usuarios/{id}(id=${usuario.id})}" class="btn btn-primary"><i class="fas fa-check"></i> Selecionar</a></td>
        </tr>
        </tbody>

      </table>

    </div>

  </div>

</div>

</body>

</html>