<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="currentPage='municoes'">

<head>
    <meta charset="utf-8" />
    <title>SisCACs</title>
</head>

<body>

    <div layout:fragment="content">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Munições</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <div class="table-responsive" >

                <table class="table table-bordered">

                    <thead class="table-primary" >
                    <tr>
                        <th scope="col">Calibre</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Selecionar</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="municao : ${municoes}">
                        <td th:text="${#strings.replace(municao.arma.calibre,'_',' ')}"></td>
                        <td th:text="${municao.quantidade}"></td>
                        <td style="text-align: center;"><a th:href="@{/municoes/{id}(id=${municao.id})}" class="btn btn-primary"><i class="fas fa-check"></i> Selecionar</a></td>
                    </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>

</body>

</html>