<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="currentPage='armas'">

<head>
    <meta charset="utf-8" />
    <title>SisCACs</title>
</head>

<body>

    <div layout:fragment="content">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Armas</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

        </div>

    </div>

</body>

</html>