<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="currentPage='treinamentos'">

<head>
    <meta charset="utf-8" />
    <title>SisCACs</title>
</head>

<body>

    <div layout:fragment="content">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Treinamentos</h1>
        </div>

        <!-- Content Row -->
        <div class="row">

            <div class="table-responsive" >

                <table class="table table-bordered">

                    <thead class="table-primary" >
                    <tr>
                        <th scope="col">Data do Treinamento</th>
                        <th scope="col">Arma</th>
                        <th scope="col">Quantidade de Tiros</th>
                        <th scope="col">Pontuação</th>
                        <th scope="col">Observação</th>
                        <th scope="col">Selecionar</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="treinamento : ${treinamentos}">
                        <td th:text="${#temporals.format(treinamento.dataTreinamento, 'dd/MM/yyyy')}"></td>
                        <td th:text="${#strings.replace(treinamento.arma.calibre,'_',' ') + ' - ' + treinamento.arma.descricao}"></td>
                        <td th:text="${treinamento.quantidadeTiros}"></td>
                        <td th:text="${treinamento.pontuacao}"></td>
                        <td th:text="${treinamento.observacao}"></td>
                        <td style="text-align: center;"><a th:href="@{/treinamentos/{id}(id=${treinamento.id})}" class="btn btn-primary"><i class="fas fa-check"></i> Selecionar</a></td>
                    </tr>
                    </tbody>

                </table>

            </div>

        </div>

    </div>

</body>

</html>